/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Audiowide", sans-serif;
  font-size: 12px;
  background: #000709;
  background: linear-gradient(
    90deg,
    rgba(0, 7, 9, 1) 0%,
    rgba(0, 4, 6, 1) 100%
  );
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

/* Header */
.top {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 0.16rem solid #fff;
}

.logo img {
  width: 5.7rem;
  height: auto;
}

.menu-countainer {
  display: none;
}

.menu-countainer-logo ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.menu-countainer-logo li a img {
  width: 2rem;
  padding: 0 2rem 0.5rem;
  transition: width 0.3s;
}

.menu-countainer-logo li a img:hover {
  width: 1.8rem;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90vh;
  padding: 1rem;
  flex: 1;
}

.texts {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: justify;
  margin: 1rem 2rem 3rem;
  font-size: 1.5rem;
  width: 100%;
  max-width: 100%;
}

.texts .title {
  font-size: 2rem;
  text-align: center;
}

.texts .examples img {
  width: 100%;
  height: auto;
}

footer {
  margin-bottom: 0;
  background-color: #01313a;
  width: 100%;
}
footer ul li a {
  text-decoration: none;
  color: #00c1e5;
}

/* Responsivo */
@media (min-width: 320px) {
  .texts {
    font-size: 1rem;
  }


}

@media (min-width: 600px) and (max-width: 1023px) {
  .top {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    z-index: 10;
  }

  .logo img {
    height: 9rem;
    width: auto;
  }

  .menu-countainer-logo ul {
    gap: 10rem;
    padding-right: 1.5rem;
  }

  .menu-countainer-logo li a img {
    width: 3.6rem;
    padding: 0;
  }

  .menu-countainer-logo li a img:hover {
    width: 3rem;
  }

  .questions-icon {
    width: 2rem;
  }

  .questions-icon:hover {
    width: 1.5rem;
  }

  main {
    padding: 2rem 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding-top: 0.1px;
    align-items: center;
  }
  .countainer-img-apresentacao {
    width: 100%;
    background-image: url("/icons/foto-drone-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .countainer-apresentacao {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .countainer-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #fff;
    transition: all 1s ease-in-out;
  }

  .apresentacao {
    z-index: 19;
    position: absolute;
    width: 30%;
    height: 10vh;
  }

  .countainer-texts .sobre-nos {
    width: 100%;
    height: 100vh;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    text-align: start;
    align-items: center;
    justify-content: center;
    transition: all 1.2s ease-in-out;
  }

  .countainer-apresentacao h1 {
    font-size: 4rem;
  }
  .countainer-apresentacao p {
    font-size: 2rem;
    border-bottom: 1px solid #028ba3;
  }

  .texts {
    max-width: 70%;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
  }

  .texts .title {
    font-size: 3.5rem;
  }

  .texts .examples {
    width: 100%;
    height: 97vh;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    text-align: start;
    align-items: center;
    justify-content: center;
    transition: all 1.2s ease-in-out;
  }

  .texts .examples img {
   
  }

  footer {
    padding: 2rem 1rem 3rem;
  }
  footer ul li a {
    text-decoration: none;
    color: #00c1e5;
  }
}

@media (min-width: 1024px) {
  .top {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
    width: 90%;
    position: absolute;
    z-index: 10;
    /* background-color: #00c3e507; */
  }

  .logo img {
    height: 10rem;
    width: 10rem;
  }

  .menu-countainer-logo {
    display: none;
  }

  .menu-countainer {
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: end;
    font-size: 1.7rem;
    width: 90%;
  }

  .menu-countainer ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  .menu-countainer ul a {
    text-decoration: none;
    color: #00c1e5;
  }

  .menu-countainer ul a:hover {
    color: #028ba3;
  }

  main {
    padding: 2rem 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding-top: 0.2px;
    align-items: center;
  }
  .countainer-img-apresentacao {
    width: 100%;
    background-image: url("/icons/foto-drone-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .countainer-apresentacao {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .countainer-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    text-align: start;
    color: #fff;
    transition: all 1s ease-in-out;
  }
  .countainer-apresentacao h1 {
    font-size: 10rem;
  }
  .countainer-apresentacao p {
    font-size: 4rem;
    border-bottom: 2px solid #028ba3;
  }

  .apresentacao {
    z-index: 19;
    position: absolute;
    width: 30%;
    height: 10vh;
  }
  main img {
    width: 100%;
    height: 100vh;
    z-index: -1;
  }

  .texts {
    max-width: 70%;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .texts .examples{
    width: 100%;
  }

  .texts .title {
    font-size: 3.5rem;
  }

  .countainer-img{
    width: 100%;
  }

  .countainer-img img{
    width: 45rem;
    height: 30rem;
  }

  footer {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 0.8rem;
  }

  footer ul {
    list-style: none;
  }

  footer ul li a {
    text-decoration: none;
    color: #00c1e5;
  }
}
