/* Reset e base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Audiowide", sans-serif;
  font-size: 12px;
  background: #00070e;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}

/* Header */
.top {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.16rem solid #fff;
}

.logo img {
  width: 5.7rem;
  height: auto;
}

.menu-countainer {
  display: none;
}

.btn-menu {
  background: none;
  border: none;
}

.btn-menu img {
  height: 3rem;
  width: 3rem;
}

.menu {
  width: 16rem;
  height: 50vh;
  background-color: #01313a;
  position: absolute;
  right: 0;
  top: 0.5rem;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  transition: all 1s ease;
}

.menu ul {
  gap: 0.6rem;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  list-style: none;
  align-items: start;
  justify-content: start;
}

.menu ul li {
  width: 5rem;
  height: 2rem;
  display: flex;
}

.menu a {
  width: 12rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.menu img {
  width: 1.6rem;
  height: 1.6rem;
}

.menu-countainer-logo {
  display: none;
}

.btn-fechar{
  display: flex;
  width: 2rem;
  height: 2rem;
  border: none;
  background: none;
  margin-right: 1rem;
  margin-top: 1rem;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90vh;
  flex: 1;
}
.countainer-img-apresentacao {
  width: 100%;
  height: 90vh;
  background-image: url("/img/foto-drone-mobile.PNG");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  -webkit-mask-image: linear-gradient(to top, #00070e, #000910b4);
  mask-image: linear-gradient(to top, #00070e, #000910a4);
}

.countainer-apresentacao {
  width: 100%;
  height: 73vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countainer-apresentacao h1 {
  font-size: 4rem;
}
.countainer-apresentacao p {
  font-size: 2rem;
  border-bottom: 2px solid #028ba3;
  width: 27rem;
}

.countainer-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: start;
  transition: all 1s ease-in-out;
}

.texts {
  max-width: 70%;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.texts .examples {
  width: 100%;
}

.texts .title {
  font-size: 3.5rem;
}

.countainer-texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.countainer-texts .texts .sobre-nos {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.countainer-texts .texts .examples {
  width: 100%;
  height: 100vh;
  text-align: start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  font-size: 3rem;
}

.countainer-na-pratica {
  width: 80%;
  height: 30vh;
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.countainer-na-pratica .img-mapa {
  width: 17rem;
  height: 13rem;
}

.countainer-na-pratica p {
  width: 100%;
  height: 9rem;
  font-size: 1rem;
}

.countainer-img {
  width: 100%;
}

.countainer-paragrafos {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Footer */
footer {
  background-color: #1a2b2e;
  color: #00c1e5;
  text-align: center;
  padding: 2rem 1rem;
  width: 100%;
  margin-top: auto;
}

footer ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

footer a {
  color: #00c1e5;
  text-decoration: none;
}

footer a:hover {
  color: #0ff;
  text-shadow: 0 0 6px #0ff;
}

/* Responsivo */
@media (min-width: 320px) {
  .texts {
    font-size: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .top {
    flex-direction: row;
    width: 90%;
    z-index: 10;
  }

  .btn-menu {
    display: none;
  }

  .logo img {
    height: 9rem;
    width: auto;
  }

  .menu-countainer-logo {
    display: flex;
  }

  .menu-countainer-logo ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 1.5rem;
  }

  .menu-countainer-logo li a img {
    width: 3.3rem;
    height: 3.3rem;
  }

  .questions-icon {
    width: 2rem;
  }

  .questions-icon:hover {
    width: 1.5rem;
  }

  main {
    padding: 2rem 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding-top: 0.1px;
    align-items: center;
  }
  .countainer-img-apresentacao {
    width: 100%;
    background-image: url("/img/foto-drone-mobile.PNG");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .countainer-apresentacao {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .countainer-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: start;
    color: #fff;
    transition: all 1s ease-in-out;
  }

  .apresentacao {
    position: absolute;
    width: 30%;
    height: 10vh;
  }

  .countainer-texts .sobre-nos {
    width: 100%;
    height: 100vh;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    text-align: start;
    align-items: center;
    justify-content: center;
    transition: all 1.2s ease-in-out;
  }

  .countainer-apresentacao h1 {
    font-size: 4rem;
  }
  .countainer-apresentacao p {
    width: 60vh;
  }

  .texts {
    max-width: 70%;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
  }

  .texts .title {
    font-size: 3.5rem;
  }

  .texts .examples {
    width: 100%;
    height: 97vh;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    text-align: start;
    align-items: center;
    justify-content: center;
    transition: all 1.2s ease-in-out;
  }

  .countainer-img img {
    width: 80%;
    height: 30rem;
  }

  footer {
    padding: 2rem 1rem 3rem;
  }
  footer ul li a {
    text-decoration: none;
    color: #00c1e5;
  }
}

@media (min-width: 769px) {
  .top {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
    width: 90%;
    position: absolute;
    z-index: 10;
  }

  .btn-menu {
    display: none;
  }

  .logo img {
    height: 10rem;
    width: 10rem;
  }

  .menu-countainer-logo {
    display: none;
  }

  .menu-countainer {
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: end;
    font-size: 1.7rem;
    width: 90%;
  }

  .menu-countainer ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  .menu-countainer ul a {
    text-decoration: none;
    color: #00c1e5;
  }

  .menu-countainer ul a:hover {
    color: #028ba3;
  }

  main {
    padding: 2rem 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding-top: 0.2px;
    align-items: center;
  }
  .countainer-img-apresentacao {
    width: 100%;
    height: 100vh;
    background-image: url("/img/foto-drone-mobile.PNG");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .countainer-apresentacao {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .countainer-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    text-align: start;
    color: #fff;
    transition: all 1s ease-in-out;
    justify-content: center;
  }
  .countainer-apresentacao h1 {
    font-size: 9.1rem;
  }
  .countainer-apresentacao p {
    width: 80vh;
    font-size: 3.5rem;
  }

  .texts {
    width: 70%;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .texts .examples {
    width: 100%;
  }

  .texts .title {
    font-size: 3.5rem;
  }

  .countainer-texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .countainer-texts .texts .sobre-nos {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
  }

  .countainer-texts .texts .examples {
    width: 100%;
    height: 100vh;
    text-align: start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .countainer-na-pratica {
    width: 100%;
    height: 38vh;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .countainer-na-pratica .img-mapa {
    width: 35rem;
    height: 25rem;
  }

  .countainer-na-pratica p {
    width: 100%;
    height: 30rem;
    font-size: 1.5rem;
  }

  .countainer-paragrafos {
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .reverso {
    display: flex;
    flex-direction: row-reverse;
  }
  footer {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 0.8rem;
  }

  footer ul {
    list-style: none;
  }

  footer ul li a {
    text-decoration: none;
    color: #00c1e5;
  }
}

@media (min-width: 1025px) {
  .top {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
    width: 90%;
    position: absolute;
    z-index: 10;
  }

  .btn-menu {
    display: none;
  }

  .logo img {
    height: 10rem;
    width: 10rem;
  }

  .menu-countainer-logo {
    display: none;
  }

  .menu-countainer {
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: end;
    font-size: 1.7rem;
    width: 90%;
  }

  .menu-countainer ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }

  .menu-countainer ul a {
    text-decoration: none;
    color: #00c1e5;
  }

  .menu-countainer ul a:hover {
    color: #028ba3;
  }

  main {
    padding: 2rem 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding-top: 0.2px;
    align-items: center;
  }
  .countainer-img-apresentacao {
    width: 100%;
    height: 100vh;
    background-image: url("/img/foto-drone-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .countainer-apresentacao {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .countainer-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    text-align: start;
    color: #fff;
    transition: all 1s ease-in-out;
    justify-content: center;
  }
  .countainer-apresentacao h1 {
    font-size: 10rem;
  }
  .countainer-apresentacao p {
    width: 80vh;
    font-size: 4rem;
  }

  .texts {
    width: 70%;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .texts .examples {
    width: 100%;
  }

  .texts .title {
    font-size: 3.5rem;
  }

  .countainer-texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .countainer-texts .texts .sobre-nos {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
  }

  .countainer-texts .texts .examples {
    width: 100%;
    height: 100vh;
    text-align: start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  .countainer-na-pratica {
    width: 80%;
    height: 60vh;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .countainer-na-pratica .img-mapa {
    width: 45rem;
    height: 30rem;
  }

  .countainer-na-pratica p {
    width: 100%;
    height: 30rem;
    font-size: 1.5rem;
  }

  .countainer-paragrafos {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .reverso {
    display: flex;
    flex-direction: row-reverse;
  }

  footer {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 0.8rem;
  }

  footer ul {
    list-style: none;
  }

  footer ul li a {
    text-decoration: none;
    color: #00c1e5;
  }
}
