body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #2B3233;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/*Mobile First*/

/*header*/
.top {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    border-bottom: 0.16rem solid #ffffff;
    padding: 0rem 0 0;
}

.logo img {
    height: auto;
    width: 5.7rem;
}

.menu-countainer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0;
}

.menu-countainer li a img {
    width: 2rem;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 0 2.5rem 0.5rem 2rem;
}

.menu-countainer li a img:hover {
    width: 1.8rem;
}

.menu-countainer .questions-icon {
    width: 1.4rem;
    height: auto;
}

.menu-countainer .questions-icon:hover {
    width: 1.2rem;
    height: auto;
}

/*Close header*/

/*Main*/
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    margin: 5rem;
}


.card {
    background: #00C1E5;
    color: #2B3233;
    font-size: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.76);
    padding: 0.9375rem 1.25rem;
    width: 13.75rem;
    justify-items: center;
    text-align: center;
}
.card:hover{
    width: 14rem;
    font-size: 1.55rem;
    box-shadow: 0 0.375rem 0.75rem rgba(255, 255, 255, 0.301)
}
.card .photo {
    width: 13rem;
    border-radius: 1.6rem;
    padding: 0.5rem;
}

.icons img {
    height: 4rem;
    width: auto;
    margin: 0.5rem;
}

/*Close main*/


/* Footer */
footer {
    color: #00c1e5;
    background-color: #28393C;
    width: 100%;
    padding: 2rem 0 1rem 0;
}

/*close footer*/

@media (min-width: 600px) and (max-width: 1024px) {

    /* Header */
    .top {
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0 1rem 0;
    }

    .logo img {
        height: 9rem;
        width: auto;
    }

    .menu-countainer ul {
        flex-direction: row;
        gap: 10rem;
        padding: 0 1.5rem 0 0;
    }

    .menu-countainer li a img {
        width: 3.6rem;
        padding: 0;
    }

    .menu-countainer li a img:hover {
        width: 3rem;
        padding: 0.313rem;
    }

    .menu-countainer .questions-icon:hover {
        width: 1.5rem;
        padding: 0 0 0 0.45rem ;
    }


    .menu-countainer .questions-icon {
        width: 2rem;
    }

    /*Close header*/

    /* Main */
    .cards {
        gap: 2rem;
        margin: 3rem auto;
        padding: 0 2rem;
    }

    .card {
        width: 15rem;
        font-size: 1.6rem;
    }

    .card:hover {
        width: 15.3rem;
        font-size: 1.65rem;
    }

    .card .photo {
        width: 12.5rem;
        padding: 0.3rem;
    }

    .icons img {
        height: 4rem;
        margin: 0.5rem;
    }
}
/*Close main*/

/*Footer*/
    footer {
        align-items: center;
    }
/*Close footer*/