body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #2B3233;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/*Mobile First*/

/*header*/
.top {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    border-bottom: 0.16rem solid #ffffff;
    padding: 0rem 0 0;
}

.logo img {
    height: auto;
    width: 5.7rem;
}

.menu-countainer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0;
}

.menu-countainer li a img {
    width: 2rem;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 0 2.5rem 0.5rem 2rem;
}

.menu-countainer li a img:hover {
    width: 1.8rem;
}

.menu-countainer .questions-icon {
    width: 1.4rem;
    height: auto;
}

.menu-countainer .questions-icon:hover {
    width: 1.2rem;
    height: auto;
}


/*Close header*/

